@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pattern {
  background-image: radial-gradient(#69e876 0.3px, #fbfffd 0.5px);
  background-size: 10px 10px;
}

.dark .bg-pattern {
  background-image: radial-gradient(#69e876 0.2px, #121212 0.4px);
  background-size: 10px 10px;
}

.toast-content {
	font-family: var(--body-font), sans-serif !important;
	z-index: 99999;
}